<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>中国招商投资网</title>
<meta name="keywords" content="招商,投资,融资" />
<meta name="description" content="中国招商投资网" />
<link href="http://www.topfo.com/V4/css/search.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="sea">
	
	<form id="form_Search" name="form_Search" action="http://search.topfo.com/MerchantResource.aspx"  accept-charset="gb2312" method="post" target="_blank">
	<div class="sea_top">
    <div class="sea_top_left"><img src="http://www.topfo.com/V4/img/resou.jpg"/></div>
     <div class="sea_top_right">
     <ul>
   <li> <a href="http://search.topfo.com/MerchantResource.aspx?Induy=10" target="_blank">石油</a></li>
    <li><a href="http://search.topfo.com/MerchantResource.aspx?Induy=11" target="_blank">服装</a></li>
   <li> <a href="http://search.topfo.com/MerchantResource.aspx?Induy=13" target="_blank">医疗</a></li>
    <li><a href="http://search.topfo.com/MerchantResource.aspx?Induy=14" target="_blank">科技</a></li>
   <li> <a href="http://search.topfo.com/MerchantResource.aspx?Induy=15" target="_blank">教育</a></li>
   <li> <a href="http://search.topfo.com/MerchantResource.aspx?Induy=16" target="_blank">出版</a></li>
  <li>  <a href="http://search.topfo.com/MerchantResource.aspx?Induy=17"    target="_blank">广告</a></li>
   <li> <a href="http://search.topfo.com/MerchantResource.aspx?Induy=18" target="_blank">影视</a></li>
     </ul>
     </div>
     <div class="fuwu">服务热线电话：0755-89805588</div>
    <div class="float_r">
		<input name="KeyWord" id="KeyWord" value="请输入关键字" onfocus="if(this.value=='请输入关键字'){this.value='';this.style.color='#333333'}" onblur="if(this.value==''){this.value='请输入关键字';this.style.color='#999999'};" type="text">
		<input type="submit" name="Submit" value="搜索" class="con_btn" >
	</div>
    </div>	
    
    <div class="sea_bottom"></div>
    
		
	</form>
</div>
</body>
</html>
