<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>中国招商投资网_百度推广</title>
<meta name="keywords" content="招商,投资,融资" />
<meta name="description" content="中国招商投资网" />
<link href="http://www.topfo.com/V4/css/common.css" rel="stylesheet" type="text/css"/>
<link href="http://www.topfo.com/V4/css/sj.css" rel="stylesheet" type="text/css"/>
<link href="http://www.topfo.com/V4/css/Investment_Details.css" rel="stylesheet" type="text/css"/>
<link href="http://www.topfo.com/V4/css/Latest_Merchants_Project.css" rel="stylesheet" type="text/css"/>
<script language="javascript">

   function iframeAutoFit()
   {
      try
      {
         if(window!=parent)
         {
          var a = parent.document.getElementsByTagName("IFRAME");
            for(var i=0; i<a.length; i++) //author:meizz
            {
               if(a[i].contentWindow==window)
               {
                   var h = document.body.scrollHeight;
                   if(document.all) {h += 4;}
                   if(window.opera) {h += 1;}
                   a[i].height = h;
               }
            }
         }
      }
      catch (ex)
      {
         alert("脚本无法跨域操作！");
      }
   }
   if(document.attachEvent) 
        window.attachEvent("onload",  iframeAutoFit); 
   else 
        window.addEventListener("load",  iframeAutoFit,  false);

   </script>

</head>

<body>

	<script type="text/javascript" src="js/search.js"></script>

	<div class="con1_col" style="width:635px; display:block; overflow:hidden;" >
		<div class="l f_14 strong">百度推广</div>
		<div class="r"><!--<a href="#">&gt;&gt;更多</a>--></div>
		<div class="clear"></div>
	</div>
	<div class="con1_sub" style="width:635px; display:block; overflow:hidden; text-align:center;">
	<script type="text/javascript">/*500*200，创建于2011-4-18*/ var cpro_id = 'u450462';</script><script src="http://cpro.baidu.com/cpro/ui/c.js" type="text/javascript"></script>

	</div>
	<div class="con_mar"></div>

    </body>
</html>
