<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>中国招商投资网_最新招商项目</title>
<meta name="keywords" content="招商,投资,融资" />
<meta name="description" content="中国招商投资网" />
<link href="css/search.css" rel="stylesheet" type="text/css"/>
<link href="css/common.css" rel="stylesheet" type="text/css"/>
<link href="css/sj.css" rel="stylesheet" type="text/css"/>
<link href="css/Investment_Details.css" rel="stylesheet" type="text/css"/>
<link href="css/Latest_Merchants_Project.css" rel="stylesheet" type="text/css"/>

</head>

<body>

	<script type="text/javascript" src="js/search.js"></script>

	<div class="con1_col" >
		<div class="l f_14 strong">最新招商项目</div>
		<div class="r"><a href="#">&gt;&gt;更多</a></div>
		<div class="clear"></div>
	</div>
	<div class="con1_sub">
		<ul>
			<li>·<a href="#" target="_blank">[食品饮料]</a><a href="#" target="_blank">佛山大学生创业孵化基地开始招商享多项优惠</a></li>
			<li>·<a href="#" target="_blank">[冶金矿产]</a><a href="#" target="_blank">北京祖光肉驴养殖中心项目招商融资</a></li>
			<li>·<a href="#" target="_blank">[机械制造]</a><a href="#" target="_blank">湖北三峡库区多地发生地质灾害</a></li>
			<li>·<a href="#" target="_blank">[汽车汽配]</a><a href="#" target="_blank">武汉三环线刮加油站抢建风</a></li>
			<li>·<a href="#" target="_blank">[能源动力]</a><a href="#" target="_blank">北京祖光肉驴养殖中心项目招商融资</a></li>
			<li>·<a href="#" target="_blank">[石油化工]</a><a href="#" target="_blank">网曝陕西府新煤矿瞒报矿难</a></li>
			<li>·<a href="#" target="_blank">[纺织服装]</a><a href="#" target="_blank">年度财政审计整改挽回损失77亿</a></li>
		</ul>
	</div>
	<div class="con_mar"></div>

    </body>
</html>
