<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>中国招商投资网_图片</title>
<meta name="keywords" content="招商,投资,融资" />
<meta name="description" content="中国招商投资网" />
<link href="http://www.topfo.com/V4/css/search.css" rel="stylesheet" type="text/css"/>
<link href="http://www.topfo.com/V4/css/common.css" rel="stylesheet" type="text/css"/>
<link href="http://www.topfo.com/V4/css/sj.css" rel="stylesheet" type="text/css"/>
<link href="http://www.topfo.com/V4/css/Investment_Details.css" rel="stylesheet" type="text/css"/>
<link href="http://www.topfo.com/V4/css/Latest_Merchants_Project.css" rel="stylesheet" type="text/css"/>

</head>

<body>

	<script type="text/javascript" src="js/search.js"></script>

	<div class="con_ad1"><a href="#" target="_blank"><img src="http://www.topfo.com/V4/ad/topfo5_ad8.jpg" alt="中国招商投资网" width="260" height="190"></a></div>
	<div class="con_mar"></div>

    </body>
</html>
