<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>首 页</title>

 <script language="javascript" type="text/javascript" src="http://www.topfo.com/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="http://img2.topfo.com/dp/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://img2.topfo.com/dp/css/overview.css" />
<script language="javascript" >
function sendMerchar(cn)
{


 var url="http://crm.topfo.com/Company/Merchar.ashx?Login="+cn+"&jsoncallback=?";
    $.getJSON(url,function(msg){
　　  alert(msg.name);
    });

}
window.onload=function()
{

  sendMerchar("cn001");
} 
</script>
</head>
<body>

</body>
</html>
