<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>中国招商投资网-留言</title>
<meta name="keywords" content="招商,投资,融资" />
<meta name="description" content="中国招商投资网" />
<link href="css/Business_card.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/png.js"></script>

</head>

<body>

	<script type="text/javascript" src="js/search.js"></script>

	<table width="637px" border="0" cellspacing="0" cellpadding="0" class="tab2">
          <tr>
            <td width="12%" align="right">姓名：</td>
            <td width="88%"><input type="text" name="textfield3" class="inp2">
            电话：
            <input type="text" name="textfield32" class="inp2" />
            邮箱：
            <input type="text" name="textfield322" class="inp2" />
            <input type="checkbox" name="checkbox" value="checkbox">匿名留言</td>
          </tr>

          <tr>
            <td align="right">留言内容：</td>
            <td><textarea name="textarea" rows="5" style="width:90%;"></textarea></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><input type="submit" name="Submit2" value="确认" class="btn2">
              &nbsp;<input type="reset" name="Submit2" value="重填" class="btn2">
            </td>
          </tr>
        </table>


    </body>
</html>
