<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>中国招商投资网_图片</title>
<meta name="keywords" content="招商,投资,融资" />
<meta name="description" content="中国招商投资网" />
<link href="http://img2.topfo.com/Company/css/Business_card.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://img2.topfo.com/Company/js/png.js"></script>





</head>

<body class="kuangjia">

	<script type="text/javascript" src="http://img2.topfo.com/Company/js/search.js"></script>

	<div class="con_ad1"><a href="#" target="_blank"><img src="http://img2.topfo.com/Company/ad/topfo5_ad6.jpg" alt="中国招商投资网" width="260" height="190"></a></div>
	<div class="con_mar"></div>

    </body>
</html>
