<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>无标题页</title>
    <link rel="stylesheet" type="text/css" href="http://img2.topfo.com/dp/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://img2.topfo.com/dp/css/overview.css" />
</head>
<body>
   <div class="index-left">
    <div class="infor">
     <h1>
      招商项目
     </h1>

$ProjectList$
<!--   <div class="pages1"> <span> <a href="#" title="首页"><img src="images/btn_frist_01.gif" alt="首页" border="0"/ align="absmiddle"></a></span>  <span><a href="#" title="上一页"><img src="images/btn_prev_01.gif" alt="上一页" border="0" align="absmiddle"></a></span> 当前第 1 页 共 1 页<a href="#" title="下一页"><img src="images/btn_next_01.gif" style="margin: 0pt 0pt 0pt 8px;" alt="下一页" border="0" align="absmiddle"></a> <a href="#" title="尾页"><img src="images/btn_last_01.gif" style="margin: 0pt 0pt 0pt 8px;" alt="尾页" border="0" align="absmiddle"></a></div>
-->    </div>
  </div>
</body>
</html>
