<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>融资-中国招商投资网</title>
<meta name="keywords" content="招商，投资" />
<meta name="description" content="中国招商投资网" />
<link href="http://img2.topfo.com/Search/css/common.css" rel="stylesheet" type="text/css" />
<link href="http://img2.topfo.com/Search/css/rz5.0.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="search-right-con">
     <h1><span class="right-con-h1-1">政府项目资源推荐</span> <span class="right-con-h1-2"><a href="http://zs.topfo.com" target="_blank">更多</a></span></h1>
    <div class="search-right-con-1">  <img src="http://img2.topfo.com/Search/images/search_ad3.jpg"  width="100" height="80" class="float_l"/> <img src="http://img2.topfo.com/Search/images/search_ad2.jpg"  width="100" height="80"  class="float_r"/>  </div>
    <div class="search-right-con-2">
    $List$
   <!--  <ul>
      <li><a href="#">· 资本资源推荐资本资源推荐</a></li>
     <li>· 资本资源推荐资本资源推荐资本</li>
     <li>· 资本资源推荐资本资源推荐资本</li>
     <li>· 资本资源推荐资本资源推荐</li>
     <li>· 资本资源推荐资本资源推荐资本</li>
     <li>· 资本资源推荐资本资源推荐资本</li>
       <li>· 资本资源推荐资本资源推荐资本</li>
     <li>· 资本资源推荐资本资源推荐资本</li>
     <li>· 资本资源推荐资本资源推荐资本</li>
      <li>· 资本资源推荐资本资源推荐资本</li>
     </ul>-->
     </div>
    </div>
</body>
</html>