<?xml version="1.0"?>
<configuration>
	<!--<connectionStrings>
		<add name="SQLConnString1" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=InvestRun"/>
		<add name="SQLConnString2" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=InvestRun"/>
		<add name="SQLConnString3" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=InvestRun"/>
		<add name="UnionConnString" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=InvestRun"/>
		<add name="SQLProfileConnString" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=InvestRun"/>
		<add name="SelfCreateWeb" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=InvestRun"/>
		<add name="UnionConnString0" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=InvestRun"/>
		<add name="ConnectionString" connectionString="server=192.168.100.57;uid=sa;pwd=topfo888;database=tofpocrm"/>
		<add name="MailConnectionString" connectionString="server=192.168.100.57;uid=sa;pwd=topfo888;database=TotpfoMail"/>
		--><!--<add name="ConnectionString" connectionString="server=202.104.150.73,1588;uid=tz888topfoaccessuser;pwd=+tz888@topfo_www.topfo.com+;database=topfocrm"/>--><!--
		<add name="SmsConnectionString" connectionString="server=192.168.1.3;uid=sa;pwd=topfo;database=sm"/>
		<add name="CompanyShow" connectionString="server=192.168.100.57;uid=sa;pwd=topfo888;database=zstopfo"/>
		<add name="TestInvestRunConnectionString1" connectionString="Data Source=192.168.100.57;Initial Catalog=TestInvestRun;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
		<add name="tofpocrmConnectionString1" connectionString="Data Source=192.168.100.57;Initial Catalog=tofpocrm;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<!--<connectionStrings>
		
	
	<add name="SQLConnString1" connectionString="Data Source=58.251.129.145,1589;Initial Catalog=InvestRun;Persist Security Info=True;User ID=topfotz888admin2011;Password=+tz888@topfo*2011!www.topfo.com@2011+; Connect Timeout=200"/>
	
		
	
	-->
	<connectionStrings>
		<!--<add name="SQLConnString1" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=InvestRun; Connect Timeout=200"/>-->
		<add name="SQLConnString1" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=InvestRun; Connect Timeout=200"/>
		<add name="SQLConnString2" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=InvestRun; Connect Timeout=200"/>
		<add name="SQLConnString3" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=InvestRun; Connect Timeout=200"/>
		<add name="UnionConnString" connectionString="server=202.104.149.63,1588;uid=topfodbTester;pwd=topfodb!^#@Er;database=invest_Union"/>
		<add name="SQLProfileConnString" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=InvestRun; Connect Timeout=200"/>
		<add name="SelfCreateWeb" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=InvestRun; Connect Timeout=200"/>
		<add name="UnionConnString0" connectionString="server=58.251.129.145,1589;uid=topfodbTester;pwd=topfodb!^#@Er;database=invest_Union"/>
		<add name="ConnectionString" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=topfocrm"/>
		<add name="MailConnectionString" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=TotpfoMail"/>
		<add name="CompanyShow" connectionString="server=192.168.100.57;uid=sa;pwd=topfo888;database=zstopfo"/>
		<!--<add name="CompanyShow" connectionString="server=58.251.129.145,1589;uid=topfotz888admin2011;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=zstopfo"/>-->
		<add name="SmsConnectionString" connectionString="server=192.168.1.3;uid=sa;pwd=topfo;database=sm"/>
	</connectionStrings>
	<appSettings>
		<!-- 允许上传的图片类型-->
		<!--<add key="UpimageNews" value="E:\topfoManage\WEB\news\UpNewsImage\"></add>-->
		<add key="UpimageNews" value="J:\topfo\News\imgs\"></add>
		<add key="UpimageNewss" value="http://news.topfo.com/imgs/"></add>
		<add key="UploadFileType" value=".gif|.jpg|.bmp"/>
		<add key="UploadImageType" value=".gif|.jpg|.bmp"/>
		<add key="FCKedITor:BASEPath" value="http://localhost:2334/"/>
		<add key="FCKedITor:UserFilesPath" value="~/upload/"/>
		<add key="FCKeditor:FolderPattern" value="%y/%m/%d/"/>
		<add key="FCKeditor:FilenamePattern" value="%guid.%extl"/>
		<!-- 允许上传的图片大小，单位K-->
		<add key="UploadImageMaxLength" value="5000"/>
		<!-- DbHelperSQL数据访问基类所使用的数据库连接 -->
		<!--<add key="ConnectionString" value="server=58.251.129.145,1589;uid=topfoRun;pwd=+tz888@topfo*2011!www.topfo.com@2011+;database=TestInvestRun"/>-->
		<!--<add key="ConnectionString" value="server=192.168.100.57;uid=topfoRun;pwd=tztopfo@2010;database=TestInvestRun"/>-->
		<!-- 数据库访问逻辑层程序集名，用于反射装载 -->
		<add key="DAL" value="Tz888.SQLServerDAL"/>
		<add key="EncodingName" value="gb2312"></add>
		<!--1个点数兑换的积分数-->
		<add key="ExchangeMul" value="50"></add>
		<add key="ImageContentLength" value="150"></add>
		<add key="ADImageContentLength" value="1500"></add>
		<add key="ImageServerPath" value="D:\工作区域\公司项目\网站改版\source\images\"></add>
		<add key="Domain" value="http://www.tz888.cn/"></add>
		<add key="AuthenticationTickeTime" value="60"></add>
		<add key="LoginTimeRange" value="1"></add>
		<add key="AllowErrorTimes" value="5"></add>
		<add key="SmtpServer" value="61.145.163.5"></add>
		<add key="SenderEmailName" value="中国招商投资网"></add>
		<add key="SenderEmail" value="customservice@tz888.net"></add>
		<add key="EmailPassword" value="mailsender"></add>
		<add key="SenderEmailFolder" value="D:\tz888\tzweb\FileFolder\"></add>
		<add key="AgentWebRootPath" value="D:\工作区域\公司项目\网站改版\source\All\TZWEB1228\Site\"></add>
		<add key="ipspassword" value="Q0G7a5Me"></add>
		<add key="ADCacheTimeOut" value="200"></add>
		<add key="ADCacheDependencyDIR" value="D:\工作区域\公司项目\网站改版\source\All\TZWEB1228\Site\ADCacheDependency\"></add>
		<!--上传文件-->
		<add key="UploadVideo" value="E\V1.2.3\Member\TempUploadFile\"/>
		<add key="ImageServerPath" value="E\V1.2.3\Member\TempUploadFile\"></add>
		<!--投资生成文件地址-->
		<add key="TzIndex_Inc" value="E:\VR\tzWeb\tz\"/>
		<add key="ManageDomain" value="http://manage2.topfo.com/"></add>
		<add key="tzDomain" value="http://tz1.topfo.com/"></add>
		<!--
     tz888 和tzweb共享的文件夹 2006-3-15 增加   tz888和 tzweb的web.config文件的配置必须一致

    -->
		<add key="ShareFolder" value="D:\工作区域\公司项目\网站改版\source\All\TZWEB1228\Site\ShareFolder\"></add>
		<!--配置系统是否采用全文本搜索，不配置或配置为0或空表示采用关键词搜索，否则表示关键词+内容搜索-->
		<add key="IsUserContextSearch" value="1"></add>
		<!--配置用户注册是否使用邮件激活功能，不配置或配置为0或空表示不使用邮件激活功能，否则表示使用邮件激活功能-->
		<add key="RegisterActive" value="1"></add>
		<add key="GuestUserName" value="guest"></add>
		<!-- 是否执行统一错误处理策略 -->
		<add key="IsDisposeError" value="false"/>
		<!--是否把日志写入文件ErrorMessage.txt-->
		<add key="LogInFile" value="false"/>
		<!--是否把日志写入数据库-->
		<add key="LogInDB" value="false"/>
		<!--是否将出错信息显示到错误页面 -->
		<add key="IsShowErrMsg" value="true"/>
		<!-- 文件上传服务器的绝对路径-->
		<add key="FileServerPath" value="E:\images\"/>
		<!-- 文件上传服务器的URL地址-->
		<add key="FileServerURL" value="http://images.topfo.com/"/>
		<!-- 文件上传目录的服务器相对路径-->
		<add key="UploadFilePath" value="UploadFile\"/>
		<!-- 允许上传的图片类型-->
		<add key="UploadImageType" value=".gif|.jpg|.bmp"/>
		<!-- 允许上传的图片大小，单位K-->
		<add key="UploadImageMaxLength" value="5000"/>
		<!-- 是否重写图片名-->
		<add key="IsFileNameRewrite" value="true"/>
		<!-- 文字水印 -->
		<add key="ImageWaterFont" value="Tz888.cn"/>
		<!-- 图片水印地址 -->
		<add key="ImageWaterImage" value=""/>
		<!--  邮箱配置开始 -->
		<add key="SmtpServer2" value="121.14.118.37 "></add>
		<add key="SenderEmailName2" value="中国招商投资网"></add>
		<add key="SenderEmail2" value="sender@tz888.cn"></add>
		<add key="EmailPassword2" value="jcjssc2008"></add>
		<!--注册邮箱验证页模板地址-->
		<add key="EmailConfirm" value="MailTemplate\confirm.html"/>
		<!--注册成功邮箱内容页模板地址-->
		<add key="EmailSuccess" value="MailTemplate\success.html"/>
		<!--审核通过通知页模板地址-->
		<add key="EmailPassTmp" value="MailTemplate\PassTmp.htm"/>
		<!--审核未通过通知页模板地址-->
		<add key="EmailNoPassTmp" value="MailTemplate\NoPassTmp.htm"/>
		<!--邮箱配置结束 -->
		<!-- 各二级站点URL配置 -->
		<add key="wwwDomain" value="http://www1.topfo.com"/>
		<add key="ImageDomain" value="http://images.topfo.com"/>
		<add key="FileDomain" value="http://file1.topfo.com"/>
		<add key="MemberDomain" value="http://member1.topfo.com"/>
		<add key="NewsDomain" value="http://news1.topfo.com"/>
		<add key="SearchDomain" value="http://search1.topfo.com"/>
		<add key="PayDomain" value="http://www3.tz888.cn/Pay"/>
		<!-- 资源最终页面静态化相关配置 -->
		<!--
		<add key="ApplicationRootPath" value="D:\TZ888\tzWeb\"></add>
		<add key="LocalApplicationRoot" value="D:\TZ888\tzWeb\"></add>
		<add key="CapitalTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="CapitalTmpPathTo" value=""></add>
		<add key="ProjectTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="ProjectTmpPathTo" value=""></add>
		<add key="MerchantTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="MerchantTmpPathTo" value=""></add>-->
		<add key="upexcle" value="E:\TopfoManage\WEB\UploadExcl\"/>
		<add key="partner_offer_id_pre" value="TZ"/>
		<add key="ApplicationRootPath" value="D:\topfo\tzWeb\"></add>
		<add key="LocalApplicationRoot" value="D:\topfo\tzWeb\"></add>
		<add key="CapitalTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="CapitalTmpPathTo" value=""></add>
		<add key="ProjectTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="ProjectTmpPathTo" value=""></add>
		<add key="MerchantTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="MerchantTmpPathTo" value=""></add>
		<add key="NewsTmpPath" value="Template\News\DefaultTmp\"></add>
		<add key="NewsTmpPathTo" value=""></add>
		<add key="Contact" value=""></add>
		<add key="InvestNeed" value=""></add>
		<add key="RZProject" value=""></add>
		<!--成功案例模版存放路径-->
		<!--<add key="CasesAppPath" value="F:\Topfo\tzWeb\Cases\"></add>
  <add key="CasesTem" value="E:\项目\TopfoManage\WEB\Template\XQYE.html" ></add>-->
		<add key="CasesAppPath" value="F:\topfo\News\Caseshtml\"/>
		<!--<add key="CasesTem" value="F:\topfo\News\Template\XQYE.html"></add>
    <add key="CasesCapital" value="F:\topfo\News\Template\Capital.html"></add>
    <add key="CasesMerchant" value="F:\topfo\News\Template\Merchant.html"></add>
    <add key="CasesPrïject" value="F:\topfo\News\Template\Project.html"></add>-->
		<add key="CasesTem" value="F:\项目\Template\XQYE.html"></add>
		<add key="CasesCapital" value="F:\项目\Template\Capital.html"></add>
		<add key="CasesMerchant" value="F:\项目\Template\Merchant.html"></add>
		<add key="CasesProject" value="F:\项目\Template\Project.html"></add>
		<!--融资存放路径-->
		<add key="ProjectPath" value="F:\Topfo\tzWeb\Project\"></add>
		<add key="ZqTerm" value="E:\MyWork\TopfoManage\WEB\Template\Project\Gqrz.html"></add>
		<add key="GqTerm" value="E:\MyWork\TopfoManage\WEB\Template\Project\Gqrz.html"></add>
		<!--招商、投资等存放路径-->
		<add key="FieldAppPath" value="F:\Topfo\tzWeb\News\"></add>
		<add key="FieldTem" value="E:\MyWork\TopfoManage\WEB\State\Field.html"></add>
		<!--新闻资讯存放路径-->
		<add key="NewsAppPath" value="F:\Topfo\tzWeb\News\"></add>
		<add key="NewsTem" value="E:\MyWork\TopfoManage\WEB\Template\News.html"></add>
		<!--搜索页面静态模版生成地址-->
		<add key="capitalAppPath" value="F:\Topfo\tzWeb\News\"></add>
		<add key="capitalFieldTem" value="E:\MyWork\TopfoManage\WEB\Template\Search\sch-capital.html"></add>
		<!--资本项目资源推荐-->
		<add key="enlAppPath" value="F:\Topfo\tzWeb\News\"></add>
		<add key="enFieldTem" value="E:\MyWork\TopfoManage\WEB\Template\Search\enterprise.html"></add>
		<!--企业项目资源推荐-->
		<add key="govelAppPath" value="F:\Topfo\tzWeb\News\"></add>
		<add key="goveFieldTem" value="E:\MyWork\TopfoManage\WEB\Template\Search\government.html"></add>
		<!--商机模版-->
		<add key="SjAppPath" value="F:\Topfo\tzWeb\Merchant\"/>
		<add key="CasesTem" value="E:\项目\TopfoManage\WEB\Template\XQYE.html"></add>
		<!--招商模版-->
		<!--<add key="ZSAppPath" value="F:\Topfo\tzWeb\Merchant\"/>
		<add key="MerchantTem" value="E:\MyWork\TopfoManage\WEB\Template\Merchant\Merchant.shtml"></add>-->
		<add key="ZSAppPath" value="F:\Topfo\tzWeb\Merchant\"/>
		<add key="MerchantTem" value="E:\MyWork\TopfoManage\WEB\Template\Merchant\Merchant.shtml"></add>
		<!--投资模版-->
		<add key="TZAppPath" value="F:\Topfo\tzWeb\Capital\"/>
		<add key="TZMerchantTem" value="E:\MyWork\TopfoManage\WEB\Template\Capital\Capital.shtml"></add>
		<!--企业名片模版-->
		<add key="ComPanyPath" value="F:\card\"/>
		<add key="ComPanyTem" value="E:\项目\crm\WEB\Company\Template\TemCompany.html"></add>
		<add key="ComPanyHit" value="E:\项目\crm\WEB\Company\Template\TemCompany.html"></add>
		<add key="ComPanyTime" value="E:\项目\crm\WEB\Company\Template\TemCompany.html"></add>
		<!--新闻资讯模版-->
		<add key="DKNewsSuccse" value="F:\Topfo\tzWeb\News\"/>
		<add key="DKNewsTest" value="E:\topfoManage\WEB\Template\news\news.html"></add>
		<!--新闻资讯详细页面模版-->
		<add key="NewSumAppPath" value="F:\card\"/>
		<add key="NewSumTem" value="E:\项目\crm\WEB\ZxSun\ZxSum.html"></add>
		<!--贷款模版-->
		<add key="DKAppPath" value="F:\Topfo\tzWeb\Longs\"/>
		<add key="DKMerchantTem" value="E:\topfoManage\WEB\Template\loans\Company_Loans.html"></add>
		<add key="DKMerchantTems" value="E:\topfoManage\WEB\Template\loans\Company_Loansenriper.html"></add>
		<!--专业服务模版-->
		<add key="PSAppPath" value="F:\Topfo\tzWeb\dservice\"/>
		<add key="PSTem" value="F:\WORK\topfoManage\WEB\Template\Professional\Professional.html"></add>
		<!--专业机构模版-->
		<add key="ORGTem" value="F:\WORK\topfoManage\WEB\Template\Professional\ProOrg.html"></add>
		<!--专业人才模版-->
		<add key="TALTem" value="F:\WORK\topfoManage\WEB\Template\Professional\Protalent.html"></add>
		<!--行业分析模版-->
		<add key="INAppPath" value="F:\WORK\SR\WEB\htmllink\"/>
		<add key="INTem" value="F:\WORK\SR\WEB\report\report.html"></add>
		<add key="FieldTemd" value="F:\WORK\topfoManage\WEB\report\FieldTem.html"></add>
		<!--快讯模板-->
		<add key="KXAppPath" value="F:\Topfo\tzWeb\dservice\"/>
		<add key="KXTem" value="F:\Topfo\tzWeb\temp\topfo_news.html"/>
		<!--快讯ifram-->
		<add key="KXPath" value="F:\Topfo\tzWeb\dservice\"/>
		<add key="KXTemplate" value="F:\Topfo\tzWeb\temp\FieldTem.html"/>
		<!--新闻首页-->
		<add key="DKNewsIndex" value="F:\topfo\tzWeb\"></add>
		<!-- xml文件上传的路径-->
		<add key="UpLoadXml" value="J:\topfo\investnewindex\xml\"></add>
		<!--<add key="UpLoaäXm2" value="E:\8-5\TopfoManage\WEB\AD\XML\"></add>-->
		<add key="news.Static" value="http://news.topfo.com/Service/Static.asmø"/>
		<add key="news.StaticWebService" value="http://news.topfï.com/Service/StaticWebService.asmx"/>
		<add key="news.ComPage×ebService" value="http://news.topfo.com/Service/ComPageWebService.asmx"/>
		<add key="CarveOut.StaticService" value="http://cr.topfo.com/WebService/StaticService.asmx"/>
		<add key="CarveOut.CarveOutService" value="http://cr.topfo.com/WebService/CarveOuôService.asmx"/>
		<!--企业展厅详细页面模版-->
		<add key="CompanyShowPath" value="J:\topfo\tzWeb\Corporation\"/>
		<!--企业展厅详细页面模版-->
		<add key="CompanyShowPath" value="F:\Show\"/>
		<add key="CScost" value="F:\logo\zf\cost.html"></add>
		<add key="CSindex" value="F:\logo\zf\index.html"></add>
		<add key="CSindustry" value="F:\logo\zf\industry.html"></add>
		<add key="CSinfor" value="F:\logo\zf\infor.html"></add>
		<add key="CSInvestmentenvironment" value="F:\logo\zf\Investmentenvironment.html"></add>
		<add key="CSPark" value="F:\logo\zf\Park.html"></add>
		<add key="CSPhotogallery2" value="F:\logo\zf\Photogallery2.html"></add>
		<add key="CSPhotogallery" value="F:\logo\zf\Photogallery.html"></add>
		<add key="CSPreferentialpolicies" value="F:\logo\zf\Preferentialpolicies.html"></add>
		<add key="CSproject" value="F:\logo\zf\project.html"></add>
		<add key="CSRegionaloverview" value="F:\logo\zf\Regionaloverview.html"></add>
		<add key="CSvideo" value="F:\logo\zf\video.html"></add>
		<add key="ProjectList" value="E:\MyWork\TopfoManage\WEB\Company\Template\ProjectList.html"></add>
		<!--企业展厅logo图片生成及存放路径-->
		<add key="lgpic" value="f:\dp\logo\"></add>
		<add key="lgpolice" value="f:\logo\policies.jpg"></add>
		<add key="lgIndex" value="f:\logo\index.jpg"></add>
		<!--企业展厅相关图片存放路径-->
		<add key="UpProductImage" value="G:\dp\img\"></add>
		<add key="InvestCost" value="E:\MyWork\TopfoManage\WEB\Company\Template\ProjectList.html"></add>
	</appSettings>
	<system.web>
		<!--<trust level="Full"/>-->
		<customErrors mode="Off"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<authentication mode="Forms">
			<forms name="manage" path="1" loginUrl="/Login.aspx" protection="All" timeout="60">
			</forms>
		</authentication>
		<machineKey validationKey="49CBE0B23EB93F8C3E32721B5A3F87A94C78799B" decryptionKey="4D34FEF66F8FEFE2" validation="SHA1"/>
		<authorization>
			<allow users="*"/>
			<deny users="?"/>
		</authorization>
		<httpHandlers>
			<!--<remove verb="*" path="*.asmx"/>-->
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<!-- 
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Vbe.Interop, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				-->
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="240" stateNetworkTimeout="14400"/>
	</system.web>
</configuration>
